<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="PasswordProvider" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="Key1" value="Value1" />
		<add key="Key2" value="Value2" />
		<!-- Remove following line if running in production with 7z.dll in same folder. -->
		<add key="7zLocation" value="..\..\..\Dependencies\7z.dll" />
 	</appSettings>

	<PasswordProvider>
		<add key="C:\Temp\testfile.rar" value="password"/>
		<add key="C:\Temp\testfile.7z" value="password"/>
		<add key="C:\Temp\testfile.zip" value="password"/>
	</PasswordProvider>
</configuration>
